{% extends 'base.html' %}

{% block head_title %}{{block.super}} - Cerca nell'App {% endblock head_title %}

{% block content %}
    <a class="btn btn-sm btn-dark" href="{% url 'homepage' %}">Homepage</a>
    <hr>
    <h1>Risultati della ricerca</h1>
    <hr>
    <div class="row mt-3">
        <div class="col-5">
            <h5><strong>Avvisi</strong></h5>
            {% if comunicazioni %}
                {% for comunicazione in comunicazioni %}
                    <p class="mt-3 mb-0"><strong>{{ comunicazione.titolo }}</strong></p>
                    <p class="mt-0 mb-1">{{ comunicazione.contenuto|truncatewords:"50" }}</p>
                    <p class="mt-0 text-muted">del {{ comunicazione.data|date:"d F Y" }}</p>
                    <hr>
                {% endfor %}
            {% else %}
                <p>---</p>
            {% endif %}
        </div>
        <div class="col-3">
            <h5><strong>Canti</strong></h5>
            {% if canti %}
                {% for canto in canti %}
                    <p class="mt-3">¤ <a href="{{ canto.get_absolute_url }}">{{ canto.titolo }}</a></p>
                {% endfor %}
            {% else %}
                <p>---</p>
            {% endif %}
        </div>
        <div class="col-4">
            <h5><strong>File</strong></h5>
            {% if documenti %}
                {% for documento in documenti %}
                    <p class="mt-3">{{ documento.titolo }}</p>
                    <a href="{{ documento.file.url }}" download  class="btn btn-sm btn-dark mt-2">Scarica</a>
                {% endfor %}
            {% else %}
                <p>---</p>
            {% endif %}

        </div>
    </div>

{% endblock content %}
