{% extends 'base.html' %}

{% block head_title %}{{block.super}} - Homepage {% endblock head_title %}


{% block content %}
<div class="container px-3 px-lg-5 mx-auto">


    <div class="row mt-3 mt-md-4 mb-2 mb-md-3 px-1 px-lg-5 row-content-padding">

        <div class="col-12">
            {% if numero_giorni < 60 and numero_giorni is not "empty" %}
            <span class="badge badge-danger py-1 my-0 px-2 mr-1 align-text-right" style="border-radius:1px;">New</span>
            <div class="alert alert-secondary message-custom text-left px-3 px-lg-3 mb-0 mt-0" role="alert">
                <h5 class="message-text mb-1">
                    <strong>Comunicazione del {{ultima_comunicazione.data|date:"d F Y"}}</strong>
                </h5>
                <h5 class="mb-0 pt-1"><strong>{{ultima_comunicazione.titolo}}:</strong> {{ultima_comunicazione.contenuto}}</h5>

            </div>
            {%else%}
            <div class="alert alert-secondary message-custom text-left mb-0" role="alert">
                <p class="message-text my-0">Non ci sono comunicazioni recenti. Grazie per essere passato a trovarci.</p>
            </div>
            {% endif %}
        </div>

    </div>
</div>
<div class="container px-3 px-lg-5 mx-auto">
    <div class="row mb-0 text-left px-1 px-lg-5 row-content-padding">
        <h2 class="pl-3 pl-sm-3 pr-1 pr-sm-3 mb-0 mt-2 mt-md-2" style="color:#598234;"><strong>Homepage</strong></h2>
    </div>
</div>

<div class="container px-1 px-lg-5 mx-auto">

    <div class="row mt-3 row-content-padding px-1 px-lg-5">

        <div class="d-none d-md-block col-md-3 pl-md-3 pr-md-4 h-auto">
            <ul class="list-group left-menu ">
                <a href="{% url 'Parrocchia' %}" class="menu-colonna list-group-item" style="border-top-left-radius: 1px;
                border-top-right-radius: 1px;">La Parrocchia</a>
                <a href="https://www.chiesacattolica.it/liturgia-del-giorno/" class="menu-colonna list-group-item">Liturgia</a>
                <a href="{% url 'Lista_Canti' %}" class="menu-colonna list-group-item">Canti</a>
                <a href="{% url 'Orari' %}" class="menu-colonna list-group-item">Orari</a>
                <a href="{% url 'Lista_Comunicazioni' %}" class="menu-colonna list-group-item">Avvisi</a>
                <a href="{% url 'Download_File' %}" class="menu-colonna list-group-item">Files</a>
                <a href="{% url 'Gallery' %}" class="menu-colonna list-group-item">Galleria</a>
                <a href="{% url 'Contatti' %}" class="menu-colonna list-group-item" style="border-bottom-left-radius:1px;
                border-bottom-right-radius:1px;">Contatti</a>
            </ul>
        </div>

        <div class="col-12 col-md-9 pl-4 pr-0 pl-md-0 px-lg-0">
            <div class="row buttons-row h-100">

                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Parrocchia' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/parrocchia.jpg" class="img-card-button" alt="Info Varie">
                            <div class="card-body body-custom body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>La Parrocchia</strong></h5>
                                <p class="py-0 my-0">Storia e descrizione della parrocchia Santa Croce.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="https://www.chiesacattolica.it/liturgia-del-giorno/">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/liturgy.jpg" class="img-card-button" alt="Messa del Giorno">
                            <div class="card-body body-custom body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Liturgia</strong></h5>
                                <p class="py-0 my-0">Visualizza le letture relative alla Messa del giorno.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Lista_Canti' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/songs.jpg" class="img-card-button" alt="Elenco Canti">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Canti</strong></h5>
                                <p class="py-0 my-0">Elenco dei canti per le celebrazioni e le attività parrocchiali.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- </div>

                <div class="row buttons-row"> -->
                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Orari' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/hours3.jpg" class="img-card-button" alt="Orari">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Orari</strong></h5>
                                <p class="py-0 my-0">Visualizza gli orari delle celebrazioni eucaristiche.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Lista_Comunicazioni' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/communications2.jpg" class="img-card-button" alt="Elenco Avvisi">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Avvisi</strong></h5>
                                <p class="py-0 my-0">Elenco degli avvisi e delle comunicazioni parrocchiali.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Download_File' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/new_document.jpg" class="img-card-button" alt="Elenco Files">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Files</strong></h5>
                                <p class="py-0 my-0">Elenco di file e documenti per le attività parrocchiali.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- </div> -->

                {% if request.user.is_authenticated %}
                <!-- <div class="row buttons-row"> -->
                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Crea_Comunicazione' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/message.jpg" class="img-card-button" alt="Inserisci Nuovo Avviso">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Nuovo Avviso</strong></h5>
                                <p class="py-0 my-0">Inserisci un nuovo messaggio per i fedeli.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Carica_File_Canti' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/lyrics.jpg" class="img-card-button" alt="Carica Nuovo Canto">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Nuovo Canto</strong></h5>
                                <p class="py-0 my-0">Inserisci un nuovo canto per la celebrazione.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Carica_File' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/files.jpg" class="img-card-button" alt="Carica File">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Nuovo File</strong></h5>
                                <p class="py-0 my-0">Inserisci un nuovo file o documento in archivio.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- </div> -->
                {% endif %}

                <!-- <div class="row buttons-row"> -->
                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Gallery' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/gallery.jpg" class="img-card-button" alt="Foto">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Galleria</strong></h5>
                                <p class="py-0 my-0">Visualizza l'elenco fotografico della nostra parrochia.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Contatti' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/contact-us2.jpg" class="img-card-button" alt="Contatti">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>Contatti</strong></h5>
                                <p class="py-0 my-0">Riferimenti telefonici ed email per comunicare con la parrocchia.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-4 px-3 px-lg-2 pb-3 pb-md-3">
                    <a class="my-0" href="{% url 'Gruppi' %}">
                        <div class="card card-button-shadow">
                            <img src="/media/buttons/groups.jpg" class="img-card-button" alt="Gruppi Parrocchiali">
                            <div class="card-body body-custom pt-2 px-2 text-left">
                                <h5 class="card-title py-0 my-0"><strong>I Gruppi</strong></h5>
                                <p class="py-0 my-0">I gruppi parrocchiali che lavorano per il bene comune.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- </div> -->

            </div>

        </div>


    </div> <!--relative position-->


</div>


{% endblock content %}
