{% extends 'base.html' %}


{% block head_title %}{{block.super}}- Lista Utenti {% endblock head_title %}


{% block content %}

    <h2>Lista Utenti</h2>
    <hr>

    {% for utente in object_list %}
        {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-lg-4">
                <div class="card my-1 border border-info">
                    <div class="card-body py-0">
                        <p class="mb-0">
                            <a href="{% url 'user_profile' username=utente.username %}">
                                <strong>@{{ utente.username }}</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        {% if forloop.counter|divisibleby:"3" or forloop.last %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"3" and not forloop.last %}<div class="row">{% endif %}
    {% endfor %}









{% endblock content %}
