{% extends 'base.html' %}


{% block head_title %}{{block.super}}|{{user}} {% endblock head_title %}


{% block content %}

    <h4>{% if request.user == user %}Il Tuo {% endif %}Profilo Utente</h4>
    <h1>User: <span class="text-muted">{{user}}</span></h1>
    <h1>Permissions:
        {% if user.is_staff %}<span class="text-muted">Staff</span>{% endif %}
        {% if user.is_superuser %}<span class="text-muted">- Superuser</span>{% endif %}
    </h1>

{% endblock content %}
