{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block head_title %}{{block.super}} - {{object.titolo}} {% endblock head_title %}

{% block content %}
<div class="card my-3">
    <div class="card-header">
        <h3>Testo Canto Parrocchiale</h3>
        <p class="text-muted">In questa pagina puoi trovare il testo completo di un canto parrocchiale.</p>
    </div>
    <div class="card-body">
        <a class="btn back_home_button" href="{% url 'homepage' %}">
            <p class="text-center py-0 my-0">Homepage</p>
        </a>

        <a class="btn back_home_button" href="{% url 'Lista_Canti' %}">
            <p class="text-center py-0 my-0">Lista Canti</p>
        </a>
        <hr>
        <div class="row justify-content-center mt-4">
            <div class="col-6 text-center">
                <span class="align-middle"><h1>{{object.titolo}}</h1></span>
                <p>{{object.contenuto|linebreaks}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
