{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block head_title %}{{block.super}} - Carica Documento {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 ">
            <h2>Carica Documento</h2>
            <form class="" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-danger" value="Carica">
            </form>
        </div>
    </div>

{% endblock content %}
