{% extends 'base.html' %}

{% block head_title %}{{block.super}} - Conferma {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-4 text-center">
            <form method="POST">
                {% csrf_token %}
                <h4>Eliminare avviso?</h4>
                <input type="submit" class="btn btn-danger" value="Confermo">
            </form>

        </div>
    </div>

{% endblock content %}
