{% extends 'base.html' %}

{% block content %}

<a class="btn back_home_button mt-3 mx-1 mx-md-3" href="{% url 'homepage' %}">
    <p class="text-center py-0 my-0">Homepage</p>
</a>

<hr>


<div class="card mx-auto my-2" style="max-width: 540px;">
  <div class="row no-gutters px-2">
    <div class="col-4 col-md-4">
      <img src="/media/contatti/extern_church.jpg" class="card-img py-3 px-sm-2" alt="...">
    </div>
    <div class="col-8 col-md-8">
      <div class="card-body">
        <h2 class="card-title mt-3 mb-3">Parrocchia S.Croce</h2>
        <p class="card-text my-0"><strong>Ufficio:</strong> 123-4567890</p>
        <!-- <p class="card-text my-0"><strong>Cellulare:</strong> 123-4567890</p> -->
        <p class="card-text my-0"><strong>E-mail:</strong> don.vittorio.1234@dominio.com</p>
        <p class="card-text mt-3"><small>Si prega di contattare entro le ore 20.00</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto" style="max-width: 540px;">
  <div class="row no-gutters px-2">
    <div class="col-4 col-md-4">
      <img src="/media/contatti/bible.jpg" class="card-img py-3 px-sm-2" alt="...">
    </div>
    <div class="col-8 col-md-8">
      <div class="card-body">
        <h2 class="card-title mt-3 mb-3">Don Vittorio Cumerlato</h2>
        <!-- <p class="card-text my-0"><strong>Ufficio:</strong> 123-4567890</p> -->
        <p class="card-text my-0"><strong>Cellulare:</strong> 123-4567890</p>
        <p class="card-text my-0"><strong>E-mail:</strong> don.vittorio.1234@dominio.com</p>
        <p class="card-text mt-3"><small>Si prega di contattare entro le ore 20.00</small></p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
