{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block head_title %}{{block.super}} - Lista Documenti {% endblock head_title %}

{% block content %}
<div class="card my-3">
    <div class="card-header header-canti text-light">
        <h2>Sezione Documenti</h2>
        <h6 class="card-text text-light mb-0">Lista dei file caricati. Da quì è possibile scaricarli cliccando sul relativo pulsante a destra.</h6>
    </div>
    <div class="card-body">
        <a class="btn back_home_button" href="{% url 'homepage' %}">
            <p class="text-center py-0 my-0">Homepage</p>
        </a>
        <table class="table mt-3">
            <thead>
                <tr class="row px-sm-3">
                    <th class="col-lg-3 col-3"><span class="align-middle">Nome File</span></th>
                    <th class="col-lg-6 col-5 "><span class="align-middle">Descrizione</span></th>
                    <!-- <th class="col-lg-3 col-3"><span class="align-middle">Data caricamento</span></th> -->
                    <th class="col-lg-3 col-4"><span class="align-middle">Download</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row px-sm-3">
                {% for document in object_list %}
                    <td class="col-lg-3 col-3 align-middle">
                        {{document.filename}}
                    </td>
                    <td class="col-lg-6 col-5 align-middle">
                        {{document.contenuto}}
                    </td>
                    <!-- <td class="col-lg-3 col-3 align-middle text-muted">
                        {{document.data_caricamento|date:"l d F Y"}}
                    </td> -->
                    <td class="col-lg-3 col-4">
                        <a style="border-radius:1px" class="btn btn-sm btn-pagina-canti" href="{{ document.file.url }}">
                            <p class="text-center my-0">Scarica</p>
                        </a>

                    </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="pagination justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; prima</a>
            <a href="?page={{ page_obj.previous_page_number }}">precedente</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">prossima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
