{% extends 'base.html' %}

{% block content %}

<a class="btn back_home_button mt-3 mx-1 mx-md-3" href="{% url 'homepage' %}">
    <p class="text-center py-0 my-0">Homepage</p>
</a>

<hr>
<h2 class="py-1 px-md-3 px-1 px-md-3 ">Galleria Fotografica</h2>
<div class="row px-1 px-md-4 mx-1 mx-md-4 d-flex justify-content-center " id="gallery"
        data-toggle="modal" data-target="#exampleModal">
    {% for photo in Photo %}
    <div class="col-12 col-sm-6 col-lg-3 py-2 px-2 h-auto">
        <a href="#"><img class="w-100" src="{{photo.photoname}}" alt="First slide" data-target="#carouselExample"
            data-slide-to="{{forloop.counter0}}"></a>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<!--carousel inside a modal-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="carouselExample" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for photo in Photo %}
                        {% if forloop.first %}
                        <li data-target="#carouselExample" data-slide-to="{{forloop.counter0}}" class="active"></li>
                        {% else %}
                        <li data-target="#carouselExample" data-slide-to="{{forloop.counter0}}"></li>
                        {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner ">
                        {% for photo in Photo %}
                        {% if forloop.first %}
                        <div class="carousel-item  active">
                            <img class="d-block w-100 mx-auto" src="{{photo.photoname}}" alt="{{ forloop.counter0 }}"
                                style="max-width:800px;">
                        </div>
                        {% else %}
                        <div class="carousel-item ">
                            <img class="d-block w-100 mx-auto" src="{{photo.photoname}}" alt="{{ forloop.counter0 }}"
                                style="max-width:800px;">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
