{% extends 'base.html' %}

{% block content %}

<a class="btn back_home_button mt-3 mx-1 mx-md-3" href="{% url 'homepage' %}">
    <p class="text-center py-0 my-0">Homepage</p>
</a>

<hr>


<div class="card mx-auto my-2" style="max-width: 540px; max-height:200px;">
  <div class="row no-gutters px-2">
    <div class="col-2 col-md-2">
      <img src="/media/contatti/extern_church.jpg" style="max-width:100px; height:auto;" class="card-img py-3 px-sm-2" alt="Azione Cattolica">
    </div>
    <div class="col-8 col-md-10">
      <div class="card-body">
        <h2 class="card-title">Azione Cattolica</h2>
        <p class="card-text my-0"><strong>Presidente:</strong> Carmellino Maria</p>
        <!-- <p class="card-text my-0"><strong>Ufficio:</strong> 123-4567890</p> -->
        <!-- <p class="card-text my-0"><strong>Cellulare:</strong> 123-4567890</p> -->
        <p class="card-text my-0"><strong>E-mail:</strong> AC.1234@dominio.com</p>
        <!-- <p class="card-text mt-3"><small>Si prega di contattare entro le ore 20.00</small></p> -->
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto my-2" style="max-width: 540px; max-height:200px;">
  <div class="row no-gutters px-2">
    <div class="col-2 col-md-2">
      <img src="/media/contatti/bible.jpg" style="max-width:100px; height:auto;" class="card-img py-3 px-sm-2" alt="Caritas">
    </div>
    <div class="col-10 col-md-10">
      <div class="card-body">
        <h2 class="card-title">Caritas</h2>
        <!-- <p class="card-text my-0"><strong>Ufficio:</strong> 123-4567890</p> -->
        <p class="card-text my-0"><strong>Presidente:</strong> Nome Cognome</p>
        <p class="card-text my-0"><strong>E-mail:</strong> Caritas.1234@dominio.com</p>
        <!-- <p class="card-text mt-3"><small>Si prega di contattare entro le ore 20.00</small></p> -->
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto my-2" style="max-width: 540px; max-height:200px;">
  <div class="row no-gutters px-2">
    <div class="col-2 col-md-2">
      <img src="/media/contatti/bible.jpg" style="max-width:100px; height:auto;" class="card-img py-3 px-sm-2" alt="Catechisti">
    </div>
    <div class="col-10 col-md-10">
      <div class="card-body">
        <h2 class="card-title">Catechisti</h2>
        <!-- <p class="card-text my-0"><strong>Ufficio:</strong> 123-4567890</p> -->
        <p class="card-text my-0"><strong>Presidente:</strong> Nome Cognome</p>
        <p class="card-text my-0"><strong>E-mail:</strong> Caritas.1234@dominio.com</p>
        <!-- <p class="card-text mt-3"><small>Si prega di contattare entro le ore 20.00</small></p> -->
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto my-2" style="max-width: 540px; max-height:200px;">
  <div class="row no-gutters px-2">
    <div class="col-2 col-md-2">
      <img src="/media/contatti/bible.jpg" style="max-width:100px; height:auto;" class="card-img py-3 px-sm-2" alt="Cresime">
    </div>
    <div class="col-10 col-md-10">
      <div class="card-body">
        <h2 class="card-title">Cresime</h2>
        <!-- <p class="card-text my-0"><strong>Ufficio:</strong> 123-4567890</p> -->
        <p class="card-text my-0"><strong>Presidente:</strong> Nome Cognome</p>
        <p class="card-text my-0"><strong>E-mail:</strong> Caritas.1234@dominio.com</p>
        <!-- <p class="card-text mt-3"><small>Si prega di contattare entro le ore 20.00</small></p> -->
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto my-2" style="max-width: 540px; max-height:200px;">
  <div class="row no-gutters px-2">
    <div class="col-2 col-md-2">
      <img src="/media/contatti/bible.jpg" style="max-width:100px; height:auto;" class="card-img py-3 px-sm-2" alt="Cresime">
    </div>
    <div class="col-10 col-md-10">
      <div class="card-body">
        <h2 class="card-title">Famiglie</h2>
        <!-- <p class="card-text my-0"><strong>Ufficio:</strong> 123-4567890</p> -->
        <p class="card-text my-0"><strong>Presidente:</strong> Nome Cognome</p>
        <p class="card-text my-0"><strong>E-mail:</strong> Caritas.1234@dominio.com</p>
        <!-- <p class="card-text mt-3"><small>Si prega di contattare entro le ore 20.00</small></p> -->
      </div>
    </div>
  </div>
</div>



{% endblock content %}
