{% extends 'base.html' %}

{% block content %}

<a class="btn mt-3 ml-md-4 back_home_button" href="{% url 'homepage' %}">
    <p class="text-center py-0 my-0">Homepage</p>
</a>

<hr>

<div class="card mx-auto my-2" style="max-width: 540px;">
  <div class="row no-gutters px-2">
    <div class="col-4 col-md-4">
      <img src="/media/parrocchia/esterno_chiesa2.jpg" class="card-img py-3 px-sm-2" alt="...">
    </div>
    <div class="col-8 col-md-8">
        <div class="card-body pt-0 pt-md-auto">
          <h2 class="card-title pt-2">Parrocchia Santa Croce</h2>
          <p class="card-text text-justify">La Parrocchia Santa Croce in Casapesenna (CE) è situata al centro del paese, al termine di piazza A. Petrillo.
              Costruita agli inizi del '600, quando il titolo di parrocchia trasmigrò dalla chiesa di S. Pietro in
              Vinculis - attualmente in perifieria - alla chiesa attuale, è stata ricostruita interamente a partire
              dal 1934, ad opera dell'allora parroco don Salvatore Vitale.</p>
        </div>
    </div>
  </div>
</div>

<div class="card mx-auto my-2" style="max-width: 540px;">
  <div class="row no-gutters px-2">
    <div class="col-4 col-md-4">
      <img src="/media/parrocchia/interno_chiesa.jpg" class="card-img py-3 px-sm-2" alt="...">
    </div>
    <div class="col-8 col-md-8">
        <div class="card-body pt-0 pt-md-auto">
            <h2 class="card-title pt-2">Sant' Elena Imperatrice</h2>
          <p class="card-text text-justify"> E' dedicata alla Santa Croce e ha come
              santa patrona Elena imperatrice, madre dell'imperatore Costantino, la quale trovò la santa croce in
              Gerusalemme. Il ritrovamento della croce, avvenuta nel 326, produsse grande emozione in tutta la cristianità.
              A questa scoperta seguì la costruzione di altrettante basiliche. Morì probabilmente intorno al 330.
          </p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
    </div>
  </div>
</div>

<div class="card mx-auto my-2" style="max-width: 540px;">
  <div class="row no-gutters px-2">
    <div class="col-4 col-md-4">
      <img src="/media/parrocchia/paese.png" class="card-img py-3 px-sm-2" alt="...">
    </div>
    <div class="col-8 col-md-8">
        <div class="card-body pt-0 pt-md-auto">
            <h2 class="card-title pt-2">Casapesenna</h2>
          <p class="card-text text-justify"> Il territorio della parrocchia insiste su tutto il territorio del Comune di
              Casapesenna, e conta circa 7000 anime. Comune campano, in provincia di Caserta,
              sorge nella parte occidentale della pianura campana, nella piana dei Campi Leporini, a nord dei Campi Flegrei.
              Secondo alcuni il nome deriva da un fondo chiamato Pesenna. Secondo altri potrebbe derivare dal latino Casa Piscenda,
              dal verbo piscor (pescare) ed assumerebbe quindi il significato di "casa del pescatore", riferendosi all'attività dei
              suoi abitanti. Altra ipotesi è quella che crede derivi, invece, dal nome latino di persona Pescennius.
          </p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
    </div>
  </div>
</div>

{% endblock content %}
