{% extends 'base.html' %}

{% block content %}

    <div class="card my-3">
        <div class="card-header header-canti text-light">
          <h2>Lista degli Avvisi</h2>
          <p class="text-light mb-0">In questa sezione sono presenti tutte le comunicazioni
              riguardanti le attività parrocchiali.</p>
        </div>
        <div class="card-body">
            <a class="btn btn-pagina-canti" href="{% url 'homepage' %}">
                <p class="text-center py-0 my-0">Homepage</p>
            </a>

            <table class="table table-hover mt-3">
                <thead>
                    <tr class="row text-center">
                        <th class="col-lg-3 col-3">Titolo</th>
                        <th class="col-lg-6 col-6">Comunicazione</th>
                        <th class="col-lg-3 col-3">Data Inserimento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comunicazione in lista_comunicazioni %}
                        <tr class="row my-0 text-center">
                            <td class="col-lg-3 col-3">
                                {{comunicazione.titolo}}

                            </td>
                            <td class="col-lg-6 col-6">{{comunicazione.contenuto|linebreaks}}</td>
                            <td class="col-lg-3 col-3 text-muted ">{{comunicazione.data|date:"d N Y"}}
                                {% if request.user.is_authenticated %}
                                <a class="ml-2" href="{% url 'Cancella_avviso' comunicazione.pk %}">
                                    <span style="color: Tomato; font-size: 20px;">
                                    <i class="fas fa-trash-alt"></i></span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; prima</a>
                <a href="?page={{ page_obj.previous_page_number }}">precedente</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">prossima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
