{% extends 'base.html' %}

{% block head_title %}{{block.super}} - Orari {% endblock head_title %}


{% block content %}

<a class="btn back_home_button mt-3 mx-1 mx-md-3" href="{% url 'homepage' %}">
    <p class="text-center py-0 my-0">Homepage</p>
</a>

<hr>
<div class="div mx-auto my-3 px-lg-5">
    <div class="mx-auto px-lg-5">
        <h2 class="text-center mb-3">Orari Sante Messe</h2>
    </div>

    <table class="mx-auto mt-3" border="1">
        <thead>
            <tr class="text-center">
                <th class="py-2" style="background-color:#364456; color:white;" colspan="2">FERIALI (Lun-Ven)</th>
                <th class="py-2" style="background-color:#598234; color:white;" colspan="2">FESTIVI (Sab-Dom)</th>
            </tr>

            <tr class="text-center">
                <th class="w-25 py-2" style="background-color:#c8d8ea;">ESTIVO</th>
                <th class="w-25 py-2" style="background-color:#c8d8ea;" >INVERNALE</th>
                <th class="w-25 py-2" style="background-color:#c8d8ea;" >ESTIVO</th>
                <th class="w-25 py-2" style="background-color:#c8d8ea;" >INVERNALE</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td class="py-3">18.00</td>
                <td class="py-3">17.00</td>
                <td class="py-3 px-sm-2">Sab: 18.00 <br>
                    Dom: 10 / 11.30 / 18.00</td>
                <td class="py-3 px-sm-2">Sab: 18.00 <br>
                    Dom: 10 / 11.30 / 18.00</td>
            </tr>
        </tbody>
    </table>
    <p class="text-center mt-3"><i class="fas fa-history mr-1"></i>L' orario estivo sarà in vigore dal 1 Luglio al 30 Settembre.</p>

</div>



{% endblock content %}
