{% load static %}
<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b56c83a02a.js" crossorigin="anonymous"></script>
    <!-- Material Design Bootstrap -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="{% static 'css/design.css' %}">

    <title>{% block head_title %}App Santacroce {% endblock head_title %}</title>
  </head>
  <body class="position-relative">
      <nav class="navbar navbar-expand-md navbar-dark px-3 px-md-4 ">
          <!-- <div class="container w-100 mx-auto px-0"> -->

              <a class="navbar-brand app-name" style="color:#598234;" href="/">
                  <i class="fas fa-church mt-0 mb-1 px-2" style="color:#598234;"></i>
                  <strong> APP SANTACROCE</strong>
              </a>

              <button class="navbar-toggler toggler-custom" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon "></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <form class="form-inline py-1 px-1" action="{% url 'funzione_cerca' %}">
                     <input name="q" class="form-control" type="search" placeholder="Cosa stai cercando?" aria-label="Search">
                     <button  class="btn button-custom mt-1 mt-sm-auto ml-0 ml-lg-1"  type="submit">Cerca</button>
                   </form>

                  <ul class="navbar-nav ml-auto px-1">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                          <a class="nav-link text-secondary" href="{% url 'user_list' %}">Lista Utenti <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link text-secondary" href="{% url 'registration_view' %}">Registra Utente</a>
                        </li>

                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ request.user.username }}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'user_profile' username=request.user.username %}">Profilo</a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">Aggiorna Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Esci</a>
                          </div>
                        </li>
                    {% else %}
                        <!-- <li class="nav-item">
                          <a class="nav-link" href="{% url 'registration_view' %}">Registrazione</a>
                        </li> -->
                        <li class="nav-item ml-2 ml-lg-0 mt-2 pb-0 mb-0"><h5>
                          <a class="nav-link my-0 py-1 mt-1 login-text text-secondary" href="{% url 'login' %}">Login <i class="fas fa-sign-in-alt"></i></a></h5>
                        </li>
                    {% endif %}
                  </ul>
              </div>
          <!-- </div> -->
      </nav>

      {% if request.get_full_path == "/" %}

    <div class="jumbotron jumbotron-fluid text-light jumbotron-custom mb-2">
        <div class="container px-3 px-lg-5 mx-auto">
            <div class="row my-0 py-0 align-items-end">
                <div class="col-8 my-0 py-0">
                    <h2 class="mt-4 mt-sm-5 px-1 px-lg-5">Benvenuti</h2>
                    <p class="lead my-0 px-1 px-lg-5">Applicazione ufficiale della parrocchia Santa Croce in Casapesenna</p>
                </div>
                <div class="col-4 my-0 py-0 text-center">
                    <!-- Icons -->
                    <i class="fab fa-whatsapp fa-2x px-1" title="+39-0123456" style="color:white;"></i>
                    <a href="https://www.facebook.com/groups/santacrocecasapesenna">
                        <i class="fab fa-facebook fa-2x px-1" title="Apri pagina facebook della parrocchia"
                            style="color:white;"></i>
                    </a>
                    <i class="far fa-envelope fa-2x px-1" title="mail@parrocchia.it" style="color:white;"></i>
                </div>
            </div>
        </div>
    </div>
      {% endif %}


        {% block content %}

        {% endblock content %}



    {% if request.get_full_path == "/" %}

    <!-- Footer -->
    <div class="container px-1 px-lg-5 pt-3 pt-md-5">
        <div class="container px-1 px-lg-5 mx-auto">
            <footer class="page-footer font-small footer-custom ">
              <div class="footer-copyright text-center mb-0">© 2020 Copyright: Santa Croce Casapesenna</div>
            </footer>
        </div>
    </div>



    {% endif %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
