{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block head_title %}{{block.super}} - Registrati all'App {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            <h2>Registrati all'App</h2>
            <form class="" method="POST" novalidate>
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-info" value="Crea Account">
            </form>
        </div>
    </div>

{% endblock content %}
