
/*
PALETTE CHURCH
#364456	(54,68,86)
#c8d8ea	(200,216,234)
#68829e	(104,130,158)
#aebd38	(174,189,56)
#598234
*/

@media screen and (min-width:1151px){
    body{
        font-family: 'Helvetica', serif;
        background-color: #ffffff;
        font-size: 14px;
    }
    .jumbotron-custom{
        background-color: #364456;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0;
    }

    .row-content-padding{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .buttons-row{
        width: inherit;
        height: 18em;
    }
    .img-card-button{
        width: inherit;
        height: 10em;
    }

    .login-text{
        font-size: 16px;
    }

    h2  {
        font-size: 28px;
        /* text-shadow: 3px 3px 10px grey; */
    }

    .lead{
        font-size: 18px;
        /* text-shadow: 3px 3px 10px grey; */
    }
    .app-name{
        font-size: 16px;
    }

    .message-text{
        font-size: 14px;
        color: #364456;
    }
    h5  {
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }
    .fa-church{
        font-size: 25px;
    }
}
@media screen and (max-width: 1150px){
    .message-text{
        font-size: 12px;
        color: #364456;
    }
    .img-card-button{
        width: inherit;
        height: 100px;
    }
    .buttons-row{
        width: inherit;
        height: 13em;
    }
    .menu-colonna{
        font-size: 11px;
    }
    h5{
        font-size: 11px;
    }
    p{
        font-size: 10px;
    }
    .row-content-padding{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .jumbotron-custom{
        background-color: #364456;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 0;
    }
    .app-name{
        font-size: 14px;
    }
    .fa-church{
        font-size: 20px;
    }
    h2  {
        font-size: 22px;
    }
    .lead{
        font-size: 13px;
    }
}


@media screen and (max-width:855px){
    h2  {
        font-size: 22px;
    }

    .lead{
        font-size: 13px;
    }
    .login-text{
        font-size: 14px;
    }
    .app-name{
        font-size: 14px;
    }
    .menu-colonna{
        font-size: 11px;
    }
    h5{
        font-size: 11px;
    }
    p{
        font-size: 10px;
    }
    .img-card-button{
        width: inherit;
        height: 100px;
    }
    .buttons-row{
        width: inherit;
        height: 16em;
    }
    .message-text{
        font-size: 12px;
        color: #364456;
    }
    body{
        font-family: 'Helvetica', serif;
        background-color: #ffffff;
        font-size: 12px;
    }
}

@media screen and (max-width: 767px){

    .buttons-row{
        width: inherit;
        height: 16em;
    }
    .img-card-button{
        width: inherit;
        height: 95px;
    }
    .row-content-padding{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .jumbotron-custom{
        background-color: #364456;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 0;
    }
}

@media screen and (max-width: 480px){
    h5{
        font-size: 9px;
    }
    p{
        font-size: 8px;
    }
    body{
        font-family: 'Helvetica', serif;
        background-color: #ffffff;
        font-size: 11px;
    }
    h2  {
        font-size: 14px;
    }

    .lead{
        font-size: 10px;
    }
    .login-text{
        font-size: 11px;
    }
    .app-name{
        font-size: 11px;
    }
    .message-text{
        font-size: 10px;
        color: #364456;
        /* text-shadow: 3px 3px 10px grey; */
    }
    .buttons-row{
        width: inherit;
        height: 170px;
    }
    .img-card-button{
        width: inherit;
        height: 75px;
    }
    /* .jumbotron-custom{
        background-color: #364456;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 0;
    } */
    .row-content-padding{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .jumbotron-custom{
        background-color: #364456;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 0;
    }
}

.message-custom{
    color: #364456;
    background-color: #c8d8ea;
    /* background-image: linear-gradient(to bottom right, #03396c, #03196c); */
    /* opacity:0.4; */
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 1px;
}


.menu-colonna{
    background-color: #c8d8ea;
    color: #364456;
    transition: background-color 0.4s, padding-left 0.4s;
    width: inherit;
}
.menu-colonna:hover{
    background-color: #364456;
    color: white;
    padding-left: 3em;
}
.menu-colonna:active{
    color: #03396c;
}

.footer-custom{
    background-color: #364456;
    color: white;
    margin-bottom: 0;
    border-radius: 1px;
}
.toggler-custom{
    background-color: #364456;
}
.navbar-custom{
    background-color: white;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-custom{
    border-color: grey;
    color:grey;
    background-color: white;

}

a{
    color: #364456;
}

a:hover{
    text-decoration: none;
    color: #364456;
}
.card-button-shadow:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comunication-custom{
    background-image: linear-gradient(to bottom right, #ff102e, #ff104e);
    border: none;
    transform: scale(1,1);
    transition: background-color 0.6s, transform 0.6s;
    box-shadow: 3px 3px 3px grey;
    border-radius: 1px;
    margin-bottom: 10px;
    width: inherit;
}

.comunication-custom:hover{
    background-image: linear-gradient(to bottom right, #af102e, #ff104e);
    background-color: #03396c;
    transform: scale(0.95);
}
.text-button{
    width: inherit;
    padding-left: 0px;
    padding-right: 0px;
}

/*Icon Social Media*/
/* .fa-facebook-square{
    color: #4267B2;
}

.fa-instagram-square{
    color: #E1306C;
}

.fa-whatsapp-square{
    color: #4AC959;
} */
.back_home_button{
    background-color: #598234;
    color: white;
    border-radius: 1px;
}

/* LA PARROCCHIA */
.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

/* CANTI */
.header-canti{
    background-color: #364456;
}
.btn-pagina-canti{
    background-color: #598234;
    color: white;
    border-radius: 1px;
}
