{% extends 'base.html' %}

{% block head_title %}{{block.super}} - Registrati all'App {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            <p>Logout Completato!</p>
            <a href="{% url 'login' %}">Clicca quì per rieffettuare il login</a>
            <br>
            <a href="{% url 'homepage' %}">Vai alla Homepage</a>
        </div>
    </div>

{% endblock content %}
