{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block head_title %}{{block.super}} - Cambia Password {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            <p>Inserisci la password attuale, per ragioni di sicurezza, e poi la nuova password due volte.</p>
            <form class="" method="POST" novalidate>
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-info" value="Aggiorna Password">
            </form>
        </div>
    </div>

{% endblock content %}
