{% extends 'base.html' %}

{% block head_title %}{{block.super}} - Successo cambio password {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            <p>Password cambiata con successo!</p>
        </div>
    </div>

{% endblock content %}
