{% extends 'base.html' %}
{%load crispy_forms_tags%}
{% block head_title %}{{block.super}} - Login {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-4 text-center">
            {% if validlink %}
                <p>Inserisci e conferma la nuova Password</p>
                <form class="" method="POST" novalidate>
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-info" value="Cambia Password">
                </form>
            {% else %}
                <h1>Errore.</h1>
                <p>Il link seguito non è più valido!</p>
            {% endif %}
        </div>
    </div>

{% endblock content %}
