{% extends 'base.html' %}

{% block head_title %}{{block.super}} - Password Reset {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            <p>Ti abbiamo inviato via mail le istruzioni per il cambio password!</p>
            <p>Visita la tua casella di posta e segui il link allegato per procedere.</p>
        </div>
    </div>

{% endblock content %}
