{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block head_title %}{{block.super}} - Password Reset {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            <h1>La password è stata cambiata!</h1>
            <p>Puoi ora effettuare il <a href="{% url 'login' %}">login</a></p>
        </div>
    </div>

{% endblock content %}
